.container {
    width: 320px;
    height: 550px;
    padding: 20px;
    border: 1px solid black;
    border-radius: 5px;
    margin: 0 auto;
}

.head {
    display: flex;
    flex-direction: column;
    height: 400px;
    border-bottom: 1px solid black;
}

.head-child {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.head-right {
    display: flex;
    justify-content: space-between;
}

.head-number {
    height: 30px;
    line-height: 30px;
    margin-right: 5px;
}

.button {
    display: flex;
    justify-content: space-between;
}

.button-left {
    width: 30px;
    height: 30px;
    font-size: 18px;
    color: white;
    line-height: 30px;
    border: 0;
    background-color: black;
    outline: none;
    cursor: pointer;
    padding-right: 10px;
    border-top-left-radius: 15px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 15px;
}

.button-right {
    height: 30px;
    width: 30px;
    background-color: black;
    color: white;
    line-height: 30px;
    border: 0;
    font-size: 18px;
    padding-right: 10px;
    border-top-left-radius: 0px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 0px;
    outline: none;
    cursor: pointer;
}

.button-conter {
    height: 30px;
    width: 24px;
    background-color: black;
    color: white;
    line-height: 30px;
    font-size: 18px;
    text-align: center;
}

.menu-count {
    height: 30px;
    width: 24px;
    background-color: black;
    color: white;
    line-height: 30px;
    font-size: 18px;
    text-align: center;
}

.menu-total-container {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    font-size: 24px;
}

.place-order-btn-container {
    display: flex;
    justify-content: center;
}

.place-order-btn {
    width: 280px;
    height: 40px;
    background-color: #0d9e65;
    color: white;
    text-align: center;
    line-height: 40px;
    border-radius: 30px;
    margin-top: 30px
}