{% extends 'layout.njk' %}
{% block content %}
    <h1>
        欢迎</h1>
    <span>
        没有账号？
        <a href="http:localhost:3000/users">
            <button >注册</button>
        </a>
    </span>
    <span>
        已有账号？
        <a href="http:localhost:3000/login">
            <button >登陆</button>
        </a>
    </span>
{% endblock %}