{% extends 'layout.njk' %}

{% block content %}

    <div>
        用户名：
        <input class="name"/>
    </div>
    <div>
        密码：
        <input class="password"/>
    </div>
    <div>
        <button class="regist-btn" disabled="true">注册</button>
    </div>
    <div>
        用户名：
        <input class="name"/>
    </div>
    <div>
        密码：
        <input class="password"/>
    </div>
    <div>
        <button class="regist-btn" disabled="true">注册</button>
    </div>
    <div class="label">
        {% for item in users%}
            <span>{{item.name}}</span>
            <span>{{item.password}}</span>,
            <br>
        {% endfor %}
    </div>
{% endblock %}

{% block script %}
    <script src="js/users.js"></script>
{% endblock %}