{% extends layout.njk %}

{% block content%}

    <div>
        <input/>
    </div>
    <div>
        <input/>
    </div>
    <div>
        <input/>
    </div>
    <div>
        <button></button>
    </div>
    {% endblock%}