{% extends layout.njk %}

{% block content%}

    <div>
        <input class="name"/>
    </div>
    <div>
        <input class="password"/>
    </div>
    <div>
        <button class="regist-btn">注册</button>
    </div>
    {% endblock%}