{% extends layout.njk %}

{% block content%}

    <div>
        <input class="name"/>
    </div>
    <div>
        <input class="password"/>
    </div>
    <div>
        <button></button>
    </div>
    {% endblock%}